{% extends "layout.html" %}
    {% block content %}
    <h1><strong>{{ title }}</strong></h1>

    <div class="content-section tp-3">
<!--        {{ league_name }}-->
        {% for table in tables %}
            {{ table|safe }}
        {% endfor %}
    </div>
    <div>
    <p>Click the "Show breakdown" buttons to toggle between hiding and showing the weekly lowest scorers</p>
    <button onclick="showResults1()">Show Lowest Breakdown</button>

        <div id="lowest" style="display : none">
            <h3><strong>Here is a breakdown of the lowest player of each week!</strong></h3>
                {% for l in lowest_comments %}
                    <p>{{ l }}</p>
                {% endfor %}
        </div>
    </div>

    <div>
    <button onclick="showResults2()">Show Second Lowest Breakdown</button>

        <div id="2ndlowest" style="display : none">
            <h3><strong>Here is a breakdown of the 2nd lowest player of each week!</strong></h3>
                {% for i in second_lowest_comments %}
                    <p>{{ i }}</p>
                {% endfor %}
        </div>
    </div>

    <div>
    <button onclick="showResults3()">Show Third Lowest Breakdown</button>

        <div id="3rdlowest" style="display : none">
            <h3><strong>Here is a breakdown of the 3rd lowest player of each week!</strong></h3>
                {% for j in third_lowest_comments %}
                    <p>{{ j }}</p>
                {% endfor %}
        </div>
        <div class="pt-3">
            <h3>
                Here is how much each player owes!
            </h3>
            {% for key, value in amount_owed.items() %}
            <strong>{{ key }} : {{ value }}</strong>
            <br>
            {% endfor %}
        </div>
    </div>
    <script>
    function showResults1() {
      var x = document.getElementById("lowest");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
    </script>
    <script>
    function showResults2() {
      var x = document.getElementById("2ndlowest");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
    </script>
    <script>
    function showResults3() {
      var x = document.getElementById("3rdlowest");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
    </script>
    {% endblock content %}

