{% extends "layout.html" %}
    {% block content %}
    <div class="content-section col text-center">
        <h1><strong>{{ title }}</strong></h1>
        <div class="container">
            <div class="row justify-content-center">
                <div class="slide-content" style="overflow-x: scroll">
                    <table class="table center">
                        {% for table in tables %}
                            {{ table|safe }}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>


        <div class="col">
            <h3>Here is how much each player owes</h3>
            {% for key, value in amount_owed.items() %}
                {% if key != "Nobody" %}
                    <strong>{{ key }} : {{ value }}</strong>
                    <br>
                {% endif %}
            {% endfor %}
        </div>
        <div class="pt-3 ">
            <p>Click the "Show breakdown" buttons to toggle between hiding and showing the weekly lowest scorers</p>
        </div>
            <div class="container pt-3">
                <button onclick="showResults1()">Show Lowest Breakdown</button>
                <div id="lowest" style="display : none">
                    <h3><strong>Here is a breakdown of the lowest player of each week!</strong></h3>
                        {% for l in all_comments[0] %}
                            <p>{{ l }}</p>
                        {% endfor %}
                </div>
            </div>

        {% if all_comments[1] %}
        <div class="container pt-3">
            <button onclick="showResults2()">Show Second Lowest Breakdown</button>

            <div id="2ndlowest" style="display : none">
                <h3><strong>Here is a breakdown of the 2nd lowest player of each week!</strong></h3>
                    {% for i in all_comments[1] %}
                        <p>{{ i }}</p>
                    {% endfor %}
            </div>
        </div>
        {% endif %}



        {% if all_comments[2] %}
        <div class="container pt-3">
            <button onclick="showResults3()">Show Third Lowest Breakdown</button>

            <div id="3rdlowest" style="display : none">
                <h3><strong>Here is a breakdown of the 3rd lowest player of each week!</strong></h3>
                    {% for j in all_comments[2] %}
                        <p>{{ j }}</p>
                    {% endfor %}
            </div>
        </div>
        {% endif %}


    </div>

    <script>
    function showResults1() {
      var x = document.getElementById("lowest");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
    </script>
    <script>
    function showResults2() {
      var x = document.getElementById("2ndlowest");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
    </script>
    <script>
    function showResults3() {
      var x = document.getElementById("3rdlowest");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
    </script>
    {% endblock content %}


