{% extends "layout.html" %}
    {% block content %}
        <div class="container">
            <h1>{{ title }}</h1>
        </div>
        <div class="content-section">
            To find your Leagues ID is pretty simple and can be done using any web browser.
            <br>
            <br>
            Begin by logging into your FPL account <a href="https://fantasy.premierleague.com/" target="_blank">here.</a>
            <br>
            <br>
            Once you are logged in, click on the "Leagues & Cups" tab which will display the leagues you are in.
            <br>
            <br>
            Click on the league you wish to see the ID for and then look in the address bar in your browser.
            <br>
            <br>
            Here you can see the address of the page you are on similar to this example:
            <br>
            "fantasy.premierleague.com/leagues/123456/standings/c"
            <br>
            <br>
            Your league ID is the number you see. In the example above the League ID is 123456.
            <br>
            <br>
            You can repeat this process to find any ID of the Leagues you are in.

        </div>
    {% endblock %}
